.replit-ui-theme-root,
:root {
  --background-root: #0e1525;
  --background-default: #1c2333;
  --background-higher: #2b3245;
  --background-highest: #3c445c;
  --background-overlay: #0e1525a0;
  --foreground-default: #f5f9fc;
  --foreground-dimmer: #c2c8cc;
  --foreground-dimmest: #9da2a6;
  --outline-dimmest: #2b3245;
  --outline-dimmer: #3c445c;
  --outline-default: #4e5569;
  --outline-stronger: #5f677a;
  --outline-strongest: #70788c;
  --accent-primary-dimmest: #004182;
  --accent-primary-dimmer: #0053a6;
  --accent-primary-default: #0079f2;
  --accent-primary-stronger: #57abff;
  --accent-primary-strongest: #b2d9ff;
  --accent-positive-dimmest: #044a10;
  --accent-positive-dimmer: #046113;
  --accent-positive-default: #009118;
  --accent-positive-stronger: #6cd97e;
  --accent-positive-strongest: #bfffca;
  --accent-negative-dimmest: #660000;
  --accent-negative-dimmer: #a60808;
  --accent-negative-default: #e52222;
  --accent-negative-stronger: #ff6666;
  --accent-negative-strongest: #ffcfcf;
  --accent-red-dimmest: #660000;
  --accent-red-dimmer: #a60808;
  --accent-red-default: #e52222;
  --accent-red-stronger: #ff6666;
  --accent-red-strongest: #ffcfcf;
  --accent-orange-dimmest: #542a00;
  --accent-orange-dimmer: #703800;
  --accent-orange-default: #ad5700;
  --accent-orange-stronger: #d4781c;
  --accent-orange-strongest: #ffbd7a;
  --accent-yellow-dimmest: #4d4000;
  --accent-yellow-dimmer: #635300;
  --accent-yellow-default: #967d00;
  --accent-yellow-stronger: #bfa730;
  --accent-yellow-strongest: #f2e088;
  --accent-lime-dimmest: #314a00;
  --accent-lime-dimmer: #3d5c00;
  --accent-lime-default: #5a8700;
  --accent-lime-stronger: #87b825;
  --accent-lime-strongest: #c4e581;
  --accent-green-dimmest: #044a10;
  --accent-green-dimmer: #046113;
  --accent-green-default: #009118;
  --accent-green-stronger: #6cd97e;
  --accent-green-strongest: #7aeb8d;
  --accent-teal-dimmest: #004452;
  --accent-teal-dimmer: #006073;
  --accent-teal-default: #0093b0;
  --accent-teal-stronger: #27b9d6;
  --accent-teal-strongest: #69d9f0;
  --accent-blue-dimmest: #004182;
  --accent-blue-dimmer: #0053a6;
  --accent-blue-default: #0079f2;
  --accent-blue-stronger: #57abff;
  --accent-blue-strongest: #b2d9ff;
  --accent-blurple-dimmest: #39298a;
  --accent-blurple-dimmer: #5239cc;
  --accent-blurple-default: #795eff;
  --accent-blurple-stronger: #a694ff;
  --accent-blurple-strongest: #cec4ff;
  --accent-purple-dimmest: #582987;
  --accent-purple-dimmer: #7633b8;
  --accent-purple-default: #a64dff;
  --accent-purple-stronger: #c78fff;
  --accent-purple-strongest: #e2c4ff;
  --accent-magenta-dimmest: #6b1a6b;
  --accent-magenta-dimmer: #8a218a;
  --accent-magenta-default: #c73ac7;
  --accent-magenta-stronger: #f562f5;
  --accent-magenta-strongest: #ffbfff;
  --accent-pink-dimmest: #6e1b52;
  --accent-pink-dimmer: #8f226b;
  --accent-pink-default: #d4359f;
  --accent-pink-stronger: #ff70cf;
  --accent-pink-strongest: #ffbae8;
  --accent-grey-dimmest: #404040;
  --accent-grey-dimmer: #545454;
  --accent-grey-default: #808080;
  --accent-grey-stronger: #a6a6a6;
  --accent-grey-strongest: #d4d4d4;
  --accent-brown-dimmest: #594031;
  --accent-brown-dimmer: #75503b;
  --accent-brown-default: #a3765c;
  --accent-brown-stronger: #d49877;
  --accent-brown-strongest: #ffc8a8;
  --black: #0e1525;
  --white: #fcfcfc;
  --border-radius-1: 1px;
  --border-radius-2: 2px;
  --border-radius-4: 4px;
  --border-radius-6: 6px;
  --border-radius-8: 8px;
  --border-radius-12: 12px;
  --border-radius-16: 16px;
  --border-radius-default: var(--border-radius-8);
  --border-radius-round: 1028px;
  --space-1: 1px;
  --space-2: 2px;
  --space-4: 4px;
  --space-6: 6px;
  --space-8: 8px;
  --space-12: 12px;
  --space-16: 16px;
  --space-24: 24px;
  --space-32: 32px;
  --space-40: 40px;
  --space-48: 48px;
  --space-56: 56px;
  --space-64: 64px;
  --space-80: 80px;
  --space-96: 96px;
  --space-128: 128px;
  --space-256: 256px;
  --space-default: var(--space-8);
  --shadow-1: 0px 4px 8px 0px rgba(2, 2, 3, 0.16);
  --shadow-2: 0px 8px 16px 0px rgba(2, 2, 3, 0.32);
  --shadow-3: 0px 16px 32px 0px rgba(2, 2, 3, 0.48);
  --shadow-default: var(--shadow-1);
  --font-family-default: "IBM Plex Sans", sans-serif;
  --font-family-code: Hack-Regular, "IBM Plex Mono", monospace;
  --font-size-small: 12px;
  --line-height-small: 1.5;
  --font-size-default: 14px;
  --line-height-default: 1.6;
  --font-size-subhead-default: 16px;
  --line-height-subhead-default: 1.375;
  --font-size-subhead-big: 20px;
  --line-height-subhead-big: 1.4;
  --font-size-header-default: 24px;
  --line-height-header-default: 1.333;
  --font-size-header-big: 32px;
  --line-height-header-big: 1.25;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 600;
  --transition-duration-snappy: 120ms;
  --transition-timing-function-snappy: ease-out;
  --transition-duration-chill: 300ms;
  --transition-timing-function-chill: ease-in-out;
  --border-width-default: 1px;
  --single-line: 1;
  --interactive-background: var(--background-higher);
  --interactive-background--active: var(--background-highest);
  --interactive-border: var(--outline-default);
  --interactive-border--hover: var(--outline-strongest);
}

@media (prefers-color-scheme: light) {
  .replit-ui-theme-root,
  :root {
    --background-root: #ebeced;
    --background-default: #fcfcfc;
    --background-higher: #f0f1f2;
    --background-highest: #e4e5e6;
    --background-overlay: #f0f1f2a0;
    --foreground-default: #07080a;
    --foreground-dimmer: #3d4047;
    --foreground-dimmest: #5c5f66;
    --outline-dimmest: #d2d4d6;
    --outline-dimmer: #c0c3c4;
    --outline-default: #afb1b3;
    --outline-stronger: #98999c;
    --outline-strongest: #74767a;
    --accent-primary-dimmest: #b2d9ff;
    --accent-primary-dimmer: #6bb5ff;
    --accent-primary-default: #0f87ff;
    --accent-primary-stronger: #005cb8;
    --accent-primary-strongest: #004182;
    --accent-positive-dimmest: #7aeb8d;
    --accent-positive-dimmer: #3cc954;
    --accent-positive-default: #00a11b;
    --accent-positive-stronger: #036e15;
    --accent-positive-strongest: #004d0d;
    --accent-negative-dimmest: #ffc7c7;
    --accent-negative-dimmer: #ff9494;
    --accent-negative-default: #fa4b4b;
    --accent-negative-stronger: #c20a0a;
    --accent-negative-strongest: #8a0000;
    --accent-red-dimmest: #ffc7c7;
    --accent-red-dimmer: #ff9494;
    --accent-red-default: #fa4b4b;
    --accent-red-stronger: #c20a0a;
    --accent-red-strongest: #8a0000;
    --accent-orange-dimmest: #ffcc99;
    --accent-orange-dimmer: #ff9933;
    --accent-orange-default: #d96d00;
    --accent-orange-stronger: #964b00;
    --accent-orange-strongest: #693400;
    --accent-yellow-dimmest: #ebd66e;
    --accent-yellow-dimmer: #cfb015;
    --accent-yellow-default: #a68a00;
    --accent-yellow-stronger: #736000;
    --accent-yellow-strongest: #4f4200;
    --accent-lime-dimmest: #c0e378;
    --accent-lime-dimmer: #93c926;
    --accent-lime-default: #639400;
    --accent-lime-stronger: #466900;
    --accent-lime-strongest: #3a5700;
    --accent-green-dimmest: #7aeb8d;
    --accent-green-dimmer: #3cc954;
    --accent-green-default: #00a11b;
    --accent-green-stronger: #036e15;
    --accent-green-strongest: #004d0d;
    --accent-teal-dimmest: #6fe5fc;
    --accent-teal-dimmer: #22c1e0;
    --accent-teal-default: #0093b0;
    --accent-teal-stronger: #00687d;
    --accent-teal-strongest: #004857;
    --accent-blue-dimmest: #b2d9ff;
    --accent-blue-dimmer: #6bb5ff;
    --accent-blue-default: #0f87ff;
    --accent-blue-stronger: #005cb8;
    --accent-blue-strongest: #004182;
    --accent-blurple-dimmest: #d7cfff;
    --accent-blurple-dimmer: #b2a3ff;
    --accent-blurple-default: #8e78ff;
    --accent-blurple-stronger: #5b40e3;
    --accent-blurple-strongest: #412f9c;
    --accent-purple-dimmest: #e6ccff;
    --accent-purple-dimmer: #d0a1ff;
    --accent-purple-default: #b266ff;
    --accent-purple-stronger: #7f38c7;
    --accent-purple-strongest: #5b278f;
    --accent-magenta-dimmest: #ffbfff;
    --accent-magenta-dimmer: #ff82ff;
    --accent-magenta-default: #eb3beb;
    --accent-magenta-stronger: #a321a3;
    --accent-magenta-strongest: #731c73;
    --accent-pink-dimmest: #ffc7ec;
    --accent-pink-dimmer: #ff87d7;
    --accent-pink-default: #f545ba;
    --accent-pink-stronger: #ab2980;
    --accent-pink-strongest: #781e5a;
    --accent-grey-dimmest: #d5d5d5;
    --accent-grey-dimmer: #b0b0b0;
    --accent-grey-default: #898989;
    --accent-grey-stronger: #616161;
    --accent-grey-strongest: #454545;
    --accent-brown-dimmest: #ffc9ab;
    --accent-brown-dimmer: #dea483;
    --accent-brown-default: #b07f63;
    --accent-brown-stronger: #805740;
    --accent-brown-strongest: #573e30;
    --black: #0e1525;
    --white: #fcfcfc;
  }
}

* {
  box-sizing: border-box;
}

html,
body,
#__next {
  padding: 0;
  margin: 0;
  font-family: var(--font-family-default), sans-serif;
  height: 100vh;
  overflow: hidden;
  color: var(--foreground-default);
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
  background: var(--background-highest);
}

::-webkit-scrollbar-thumb {
  background: var(--background-highest);
}

::-webkit-scrollbar-track {
  background: var(--background-default);
}

a {
  color: var(--accent-primary-stronger);
}

:root {
  --column-number: 12;
}
